@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color:#FAF9F6;
  height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-width: 960px;
  margin: auto;
}

h2, h3, h4 {
  line-height: 1em;
  font-family: 'Bungee', cursive;
  font-weight: 100;
}

.Link, button, select {
  border: 2px solid black;
  font-weight: bold;
}

/* ================ Header ================ */
.Header {
  background-color: #FAF9F6;
  color: black;
  margin: auto;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.Header .Profile {
  text-align: center;
}

.Header h1 {
  line-height: 1.2em;
  font-size: 2rem;
  font-family: 'Bungee Shade', cursive;
}

.Header img {
  text-align: center;
  margin-top: 4px;
  border: 2px solid black;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  padding: 1px;
}

.Header p {
  text-align: center;
  font-size: small;
}

.Header span {
  font-weight: bolder;
  text-align: center;
  font-size: x-small;
}


/* ================ Navigation ================ */
.Navigation {
  text-align: left;
  margin: 10px 10px;
  font-size: 1.2rem;
}

.Navigation .Link {
  margin: 0 3px 3px;
  padding: 4px;
  border-radius: 2px;
  color:black;
  text-decoration: none;
  font-size: medium;
}

.Navigation .Link:hover {
  transition: all 100ms linear;
  background-color: black;
  color: #FAF9F6;
}

.MainLinks {
  display: flex;
  flex-wrap: wrap;
}

/* ================ Topics ================ */
.Topics {
  margin: 8px 0;
}

.Topics h3 {
  margin-left: 2px;
  margin-bottom: 2px;
  font-weight: 100;
  font-size: 1rem;
}

.Topics article {
  display: flex;
  flex-wrap: wrap;
}

.Topics .Link {
  font-size: small;
}


/* ================ Home ================ */
.Home {
  padding: 10px;
  border: 2px solid black;
  margin: 5px 10px;
  text-align: left;
}

.Home #content {
  margin: 8px 0;
}

#or {
  margin: 8px 0;
  font-weight: bold;
}

.Home span {
  line-height: 1em;
  font-family: 'Bungee shade', cursive;
  font-weight: bolder;
}

.Home span:hover {
  opacity: 85%;
  cursor: pointer;
}


/* ================ PostTopic ================ */
.PostTopicCard {
  max-width: 300px;
  padding: 5px;
  border: 2px solid black;
  margin: 8px 10px;
  text-align: left;
  box-shadow: 0.2rem 0.2rem black;
}

.PostTopicCard:hover {
  cursor: pointer;
  transform: translateY(3px);
  background-color: #f1eee6;
  transition: all 100ms linear;
  box-shadow: 0.05rem 0.05rem rgb(25, 23, 23);
}

.PostTopicCard:hover > h3 {
  text-decoration: underline;
}


/* ================ TopicAdderCard ================ */
.TopicAdderCard {
  padding: 5px;
  border: 2px solid black;
  margin: 8px 10px;
  text-align: left;
  box-shadow: 0.2rem 0.2rem black;
}

.TopicAdder {
  margin-top: 10px;
  background-color: #FAF9F6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.TopicAdder input {
  background-color: #ffffff;
  margin-left: 10px;
  margin-bottom: 6px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 2px;
  height: 26px;
  width: 95%;
}

.TopicAdder button {
  margin: 6px 0 6px 10px;
  border: 0;
  background-color: #FAF9F6;
  min-width: 27px;
}

.TopicAdder button:hover {
  cursor: pointer;
  transform: translateY(1px);
  transition: all 100ms linear;
}



/* ================ PostArticle ================ */
.PostArticleCard {
  max-width: 300px;
  padding: 5px;
  border: 2px solid black;
  margin: 8px 10px;
  text-align: left;
  box-shadow: 0.2rem 0.2rem black;
}

.PostArticleCard:hover {
  cursor: pointer;
  transform: translateY(3px);
  background-color: #f1eee6;
  transition: all 100ms linear;
  box-shadow: 0.05rem 0.05rem rgb(25, 23, 23);
}

.PostArticleCard:hover > h3 {
  text-decoration: underline;
}


/* ================ ArticleAdderCard ================ */
.ArticleAdderCard {
  padding: 5px;
  border: 2px solid black;
  margin: 8px 10px;
  text-align: left;
  box-shadow: 0.2rem 0.2rem black;
}

.ArticleAdder {
  margin-top: 10px;
  background-color: #FAF9F6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.ArticleAdder input, textarea {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  margin-left: 10px;
  margin-bottom: 6px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 2px;
  height: 26px;
  min-width: 95%;
  max-width: 95%;
}

.ArticleAdder textarea {
  min-width: 95%;
  max-width: 95%;
  min-height: 48px;
}

.ArticleAdder button {
  margin: 6px 0 6px 10px;
  padding: 4px;
  background-color: #FAF9F6;
  border: 0;
}

.ArticleAdder button:hover {
  cursor: pointer;
  transform: translateY(1px);
  transition: all 100ms linear;
}


/* ================ ArticleList ================ */
.ArticleList h2 {
  text-align: left;
  margin-left: 10px;
  font-size: 1.3rem;
  text-decoration: underline;
}

.ArticleList select {
  margin-right: 6px;
  border-radius: 2px;
  background-color: #FAF9F6;
  padding: 3px;
  display: block;
}

.ArticleList select option {
  background-color: #FAF9F6;
  color: black;
}

.ArticleList select option:disabled{
  background-color: #FAF9F6;
  color: grey;
}

.ArticleList select:hover {
  color: #FAF9F6;
  background-color: black;
  cursor: pointer;
}

.ArticleList .SortAndOrder {
  margin: 2px 0 8px 10px;
  display: flex;
}


/* ================ ArticleCard ================ */
.ArticleCard {
  padding: 5px;
  border: 2px solid black;
  margin: 8px 10px;
  text-align: left;
  box-shadow: 0.2rem 0.2rem black;
}

.ArticleCard:hover {
  cursor: pointer;
  transform: translateY(3px);
  background-color: #f1eee6;
  transition: all 100ms linear;
  box-shadow: 0.05rem 0.05rem rgb(25, 23, 23);
}

.ArticleCard:hover > h3 {
  text-decoration: underline;
}


/* ================ ArticleVote ================ */
.ArticleVote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10px;
  margin-left: 4px;
  font-weight: bold;
}

.CommentVote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10px;
  font-weight: bold;
  margin-left: 4px;
}

.CommentVote #upvoteIcon {
  height: 14px;
  width: 14px;
  margin: 3px 0;
}

.CommentVote #downvoteIcon {
  height: 14px;
  width: 14px;
  margin: 3px 0;
}


/* ================ SingleArticle ================ */
.DeletedArticle {
  position: relative;
  padding: 10px;
  border: 2px solid black;
  margin: 5px 10px;
  text-align: left;
  box-shadow: 0.2rem 0.2rem black;
}

.DeletedArticle p {
  line-height: 20px;
}

.SingleArticle {
  position: relative;
  padding: 10px;
  border: 2px solid black;
  margin: 5px 10px;
  text-align: left;
  box-shadow: 0.2rem 0.2rem black;
}

.SingleArticle h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  width: 95%;
}

.SingleArticle p {
  line-height: 20px;
}

.SingleArticle .VoteMessage {
  font-size: 0.65rem;
}

.SingleArticle button {
  margin: 2px 4px 0 0;
  padding: 4px;
  background-color: #FAF9F6;
  border: 1px solid black;
  border-radius: 2px;
}

.SingleArticle button:hover {
  cursor: pointer;
  background-color: black;
  color: #FAF9F6;
}

.SingleArticle #topic {
  margin: 2px 0 0 0;
  font-weight: bold;
}

.SingleArticle #author {
  font-size: 0.8rem;
  font-style: italic;
}

.SingleArticle #content {
  margin: 10px 0;
}


/* ================ CommentsList ================ */
.CommentsList {
  padding: 10px;
  border: 2px solid black;
  margin: 8px 10px;
  text-align: left;
  box-shadow: 0.2rem 0.2rem black;
}


/* ================ CommentAdder ================ */
.CommentAdder {
  margin-top: 10px;
  background-color: #FAF9F6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap
}

.CommentAdder textarea {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  margin-left: 10px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 2px;
  height: 26px;
  min-width: 95%;
  max-width: 95%;
  min-height: 48px;
}

.CommentAdder button {
  min-width: 27px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 0px solid black;
  background-color: #FAF9F6;
}

#commentText {
  font-size: small;
  margin-left: 10px;
}

.CommentAdder button:hover {
  cursor: pointer;
  transform: translateY(1px);
  transition: all 100ms linear;
}

.NoComments {
  text-align: center;
}

.CommentMessage {
  padding: 2px;
  margin: 0 20px 10px;
  text-align: center;
  font-size: small;
  margin-bottom: 10px;
}


/* ================ CommentCard ================ */
.CommentCard {
  position: relative;
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid black;
  margin: 5px 10px;
  text-align: left;
  box-shadow: 0.15rem 0.15rem black;
}

.CommentCard p {
  line-height: 16px;
}

.CommentCard #content {
  margin-bottom: 2px;
  width: 85%;
}

.CommentCard #author {
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 4px;
}

.CommentCard .DeleteComment {
  text-align: right;
  padding: 4px;
  background-color: #FF6663;
  border: 2px solid black;
  border-radius: 4px;
}

.CommentCard .DeleteComment:hover {
  cursor: pointer;
  color: #FAF9F6;
}


/* ================ UsersList ================ */
.UsersList h2 {
  text-align: left;
  margin-left: 10px;
  font-size: 1.2rem;
  text-decoration: underline;
}

.UsersList #log-in-message {
  margin-top: 6px;
  text-align: center;
  font-size: 0.8rem;
}

/* ================ UserCard ================ */
.UserCard {
  padding: 5px;
  border: 2px solid black;
  margin: 8px 10px ;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0.2rem 0.2rem black;
}

.UserCard:hover  { 
  cursor: pointer;
  transform: translateY(3px);
  background-color: #f1eee6;
  transition: all 100ms linear;
  box-shadow: 0.05rem 0.05rem rgb(25, 23, 23);
}

.UserCard:hover > div > h3 {
  text-decoration: underline;
}

.UserCard img {
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  height: 64px;
  width: 64px;
  padding: 5px;
}

/* ================ Controls ================ */
.DeleteImage {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 16px;
  width: 16px;
}

.DeleteImage:hover { 
  cursor: pointer;
  transform: translateY(1px);
  transition: all 100ms linear;
}

#upvoteIcon {
  height: 16px;
  width: 16px;
  margin: 4px 0;
}

#upvoteIcon:hover {
  cursor: pointer;
  transform: translateY(-1px);
  transition: all 100ms linear;
}

#downvoteIcon {
  height: 16px;
  width: 16px;
  margin: 4px 0;
  transform: rotate(180deg);
}

#downvoteIcon:hover {
  cursor: pointer; 
  transform: rotate(180deg) translateY(-1px);
  transition: all 100ms linear;
}

#commentIcon {
  height: 24px;
  width: 24px;
}

#sendIcon {
  height: 24px;
  width: 24px;
}

.PageNumbers {
  text-align: center;
  margin-top: 6px;
}

.PageNumbers button {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 4px ;
  font-size: 0.7rem;
  box-shadow: 0.1rem 0.1rem black;
}

.PageNumbers button:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: translateY(3px);
  background-color: #f1eee6;
  transition: all 100ms linear;
  box-shadow: 0.05rem 0.05rem rgb(25, 23, 23);
}

.PageNumbers button:disabled {
  color: black;
  cursor: not-allowed;
  text-decoration: underline;
  pointer-events: none;
}

.Footer {
  margin: 0 10px;
  font-size: 0.7rem;
  padding: 10px 0;
}


/* ================ NotFoundCard ================ */
.NotFoundCard {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
  box-shadow: 0.2rem 0.2rem black;
}


/* ================ Loading / Error messages ================ */
.Loading {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
  box-shadow: 0.2rem 0.2rem black;
}

/* Borrowed from https://codepen.io/thetallweeks/pen/yybGra */
.Loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

.Error {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
  box-shadow: 0.2rem 0.2rem black;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
}