* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.Header {
  background: black;
  color: white;
  margin: auto;
  padding: 10px;
  text-align: left;
}

.Navigation {
  text-align: left;
  margin: 10px 10px;
  font-size: 1.2rem;
}

.Navigation .Link {
  margin: 0 3px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
  color:black;
  text-decoration: none;
}

.Navigation .Link:hover {
  background-color: black;
  color: white;
}

.ArticleList h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}

.ArticleCard {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  text-align: left;
}

.ArticleCard h3:hover {
  cursor: pointer;
  opacity: 85%;
}

.SingleArticle {
  padding: 10px;
  border: 2px solid black;
  margin: 5px 10px;
  text-align: left;
}

.SingleArticle h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 10px;
}

.SingleArticle p {
  line-height: 20px;
}

.SingleArticle .VoteMessage {
  font-size: 0.65rem;
}

.SingleArticle button {
  margin: 2px 4px 0 0;
  padding: 4px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.SingleArticle button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.SingleArticle #content {
  margin-bottom: 10px;
}

.CommentsList {
  padding: 10px;
  border: 1px solid black;
  margin: 5px 10px;
  text-align: left;
}

.CommentAdder {
  margin-top: 10px;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.CommentAdder input{
  margin-left: 10px;
  margin-bottom: 8px;
  border: 1px solid black;
  border-radius: 2px;
  height: 25px;
  width: 60%;
}

.CommentAdder button {
  margin-right: 10px;
  padding: 4px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.CommentAdder button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.CommentMessage {
  padding: 2px;
  margin: 0 20px 10px;
  text-align: center;
  font-size: small;
  margin-bottom: 10px;
}

.CommentCard {
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid black;
  margin: 5px 10px;
  text-align: left;
}

.CommentCard p {
  line-height: 16px;
}

.CommentCard #content {
  margin-bottom: 8px;
}

.No-Comments {
  padding: 5px;
  border: 1px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
}

.Loading {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
}

.Error {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
}