@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4 {
  font-family: 'Bungee', cursive;
  font-weight: 100;
}

.Link, button, select {
  font-weight: bold;
}

/* ================ Header ================ */
.Header {
  background: white;
  color: black;
  margin: auto;
  padding: 10px;
  text-align: left;
}

.Header h1 {
  font-size: 2.2rem;
  font-family: 'Bungee Shade', cursive;
}

.Header hr {
  border: 1px solid black;
  margin-top: 7px;
}

.Header p {
  margin-top: 4px;
  text-align: center;
  font-size: small;
}


/* ================ Navigation ================ */
.Navigation {
  text-align: left;
  margin: 10px 10px;
  font-size: 1.2rem;
}

.Navigation .Link {
  margin: 0 3px 3px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
  color:black;
  text-decoration: none;
}

.Navigation .Link:hover {
  background-color: black;
  color: white;
}

/* ================ Topics ================ */
.Topics {
  margin: 16px 0;
}

.Topics h3 {
  margin-left: 2px;
  font-weight: 100;
  font-size: 1rem;
}

.Topics article {
  display: flex;
  flex-wrap: wrap;
}

.Topics .Link {
  font-size: small;
}


/* ================ ArticleList ================ */
.ArticleList h2 {
  text-align: left;
  margin-left: 10px;
  font-size: 1.5rem;
  text-decoration: underline;
}

.ArticleList select {
  margin-right: 6px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  display: block;
}

.ArticleList select option {
  background-color: white;
  color: black;
}

.ArticleList select option:disabled{
  background-color: white;
  color: grey;
}

.ArticleList select:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.ArticleList .SortAndOrder {
  margin: 2px 0 8px 10px;
  display: flex;
}


/* ================ ArticleCard ================ */
.ArticleCard {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  text-align: left;
}

.ArticleCard h3:hover {
  cursor: pointer;
  opacity: 85%;
}


/* ================ SingleArticle ================ */
.SingleArticle {
  padding: 10px;
  border: 2px solid black;
  margin: 5px 10px;
  text-align: left;
}

.SingleArticle h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 10px;
}

.SingleArticle p {
  line-height: 20px;
}

.SingleArticle .VoteMessage {
  font-size: 0.65rem;
}

.SingleArticle button {
  margin: 2px 4px 0 0;
  padding: 4px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.SingleArticle button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.SingleArticle #content {
  margin-bottom: 10px;
}


/* ================ CommentsList ================ */
.CommentsList {
  padding: 10px;
  border: 1px solid black;
  margin: 5px 10px;
  text-align: left;
}


/* ================ CommentAdder ================ */
.CommentAdder {
  margin-top: 10px;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.CommentAdder textarea {
  margin-left: 10px;
  margin-bottom: 8px;
  border: 1px solid black;
  border-radius: 2px;
  height: 25px;
  width: 60%;
}

.CommentAdder button {
  margin-right: 10px;
  padding: 4px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.CommentAdder button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.NoComments {
  padding: 5px;
  border: 1px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
}

.CommentMessage {
  padding: 2px;
  margin: 0 20px 10px;
  text-align: center;
  font-size: small;
  margin-bottom: 10px;
}


/* ================ CommentCard ================ */
.CommentCard {
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid black;
  margin: 5px 10px;
  text-align: left;
}

.CommentCard p {
  line-height: 16px;
}

.CommentCard #content {
  margin-bottom: 8px;
}


/* ================ Loading / Error messages ================ */
.Loading {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
}

.Error {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 10px;
  font-size: 1.2rem;
}